.one-review {
    background-color: blanchedalmond;
    width: 250px;
    height: 220px;
    
  }
  
  .one-review h1 {
    font-size: 20px;
  }
  
  .stars {
    display: flex;
    flex-direction: row;
  }
  
  .star {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
  }