.create-review-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.386);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-review-container {
  position: relative;
  border-radius: 5px;
  width: max-content;
  box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, 0.75);
}

.create-review-form {
  background-color: rgb(72, 71, 82);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.create-review-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .create-review-container input, */

.create-review-label span {
  margin: 12px 0 12px 0;
}

.create-review-label input,
.create-review-label textarea {
  background-color: rgb(250, 252, 241);
  width: 90%;
  height: 20px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
  
}

.create-review-label textarea {
  height: 150px;
}

.create-review-label input:hover,
.create-review-label textarea:hover {
  background-color: rgb(255, 255, 255);
}

.create-review-container .num {
  background-color: rgba(205, 50, 50, 0);
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 0px;
  pointer-events: none;
}

.review-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 6px;
  color: rgb(241, 251, 252);
}

.btn {
  background-color: rgb(142, 154, 222);
  width: 120px;
  height: 60px;
  border-radius: 20px;
  margin: auto;
  
}

.btn:hover {
  background-color: rgb(96, 115, 222);
}
