#reviews {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 206, 249);
  text-align: center;
  
}
#reviews h1 {
  font-size: 30px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: rgb(142, 154, 222);
  width: 120px;
  height: 60px;
  border-radius: 20px;
  margin: auto;
}
